# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (MongoDB)
# Example: mongodb+srv://<username>:<password>@cluster.mongodb.net/inventory_db
MONGODB_URI=mongodb+srv://baheradelahmed_db_user:LQk1b2DKF3h7ccwE@cluster0.kevmjtr.mongodb.net/?appName=Cluster0

# JWT Authentication
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=1h

SALT_ROUNDS=10